@using Models.Request
@model PostRequest
@{
    ViewData["Title"] = "Insert Post Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("InsertPost", "Post", FormMethod.Post))
{
    <div class="text-allign">
        <h1 class="display-4">Post something</h1>
        <label for="title"><b>Title</b></label>
        @Html.TextBoxFor(m => m.Title)
        <label for="body"><b>Body</b></label>
        @Html.TextBoxFor(m => m.Body)
        <label for="topicId"><b>TopicID</b></label>
        @Html.TextBoxFor(m => m.TopicId)
    @*  <label for="userId"><b>UserID</b></label>
        @Html.TextBoxFor(m => m.UserId)*@
        <button type="submit">post</button>
    </div>
}
